<app-header></app-header>
<div id="map" class="map tooltip">
    <span id="tooltip-span">
            <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Leimgrubenweg</mat-card-title>
                      <mat-card-subtitle>Bus Stop</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        <mat-list>
                    <mat-list-item><strong>Cleanliness: 5 / 5</strong>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Frequent: 🧠💉🍾📰💩🚬🗿 </mat-list-item>
                  </mat-list>
                      </p>
                    </mat-card-content>
                  </mat-card>
    </span>
    
    <mat-form-field class="date-box" id="overlay" cdkDrag>
        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<div class="mouse-position" id="mouse-position"></div>


